* { 
    box-sizing: border-box; 
    margin:3; 
}

html {
    color: #fda5d8;
}

body {
/*    min-height: 100vh;*/
}

h1,
h2 {
    color: #fd89da;
    text-transform: uppercase; 
    text-align: left;
}

p {
    text-align: left;
}

a {
    color: #71a0ed;
    font-size: 3.2em;
    transition: background-color .3s, color .3s;
    text-decoration: none;
    text-transform: lowercase; 
}

a:hover {
    color: #e3d6f5;
}




ul {
    padding-left: 0;
}

.background--grey {
    background-color: #f56bd0;
}

.item__background--pink {
    background-color: lightpink;
}

.item__background--blue {
    background-color: skyblue;
}

.item__background--blue {
    background-color: skyblue;
}

.item__background--Pink1 {
    background-color: #f56bd0;
}

.item__background--Pink2 {
    background-color: #f56bd0;
}

.item__background--Pink3 {
    background-color: #f56bd0;
}

.item__background--Pink4 {
    background-color: #f56bd0;
}

.item__background--Pink5 {
    background-color: #f56bd0;
}

.item__background--Pink6 {
    background-color: #f56bd0;
}